.requerid{ text-align: right; font-family: 'RobotoMedium'; font-size: pxToEm(11px); color: #525252; margin-bottom: 5px;
  small{ font-size: pxToEm(13px); color: #990000; }
  @media screen {
    @media (max-width : 767px) { text-align: left; }
  }
}
form{
  label{ display: inline-block; width: 100%; margin-bottom: 5px; font-family: 'RobotoMedium'; font-size: pxToEm(15px); color: #525252;
    small{ font-size: pxToEm(13px); color: #990000; }
    &.error{ display: none; font-size: pxToEm(12px); color: #D90000; position: absolute; bottom: -10px; left: 0; }
    &.open_file{ cursor: pointer;
      .open_file_button{
        background: #efb420;
        display: inline-block;
        width: 50%;
        height: 36px;
        line-height: 36px;
        padding: 0 20px;
        border-radius: 5px;
        font-family: 'RobotoBold'; font-size: pxToEm(12px); text-transform: uppercase; text-align: center; color: white;
        transition: all .5s;
        &:hover{ background: #ce960b; }
      }
      input{ display: none; }
      @media screen {
        @media (max-width : 767px) { width: 100%; margin-bottom: 10px; }
      }
    }
  }
  .inputfile{ display: none; }
  input[type=text]{ border: 1px solid #c6c8c9; border-radius: 5px; resize: none; background-color: white; font-family: 'RobotoMedium'; font-size: pxToEm(13px); color: #525252; outline: none; display: inline-block; width: 100%; height: 40px; padding: 0 10px;
    // &.error{ background: #D90000!important; color: yellow!important; border: 1px solid #D90000!important;
    //   &::-webkit-input-placeholder { color: yellow!important; }
    //   &::-webkit-input-placeholder{ color: yellow!important; }
    //   &:-moz-placeholder{ color: yellow!important; }
    //   &:-moz-placeholder{ color: yellow!important; }
    // }
    &::-webkit-input-placeholder { color: #525252; }
    &::-webkit-input-placeholder{ color: #525252; }
    &:-moz-placeholder{ color: #525252; }
    &:-moz-placeholder{ color: #525252; }
  }
  input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
  input[type=email], input[type=tel], input[type=number], input[type=password]{ @extend input[type=text]; }
  textarea{ @extend input[type=text]; height: 112px; padding: 10px; }
  button{ background-color: #efb420; border-radius: 5px; float: right; font-family: 'RobotoBold'; font-size: pxToEm(12px); text-transform: uppercase; color: white; width: 147px; height: 36px; cursor: pointer; transition: all .5s;
    &:hover{ background: #ce960b; }
        &:after{
          position: absolute;
          right: 20px;
          top: 0;
          width: 3px;
          height: 38px;
          background: red;
          border-left: 1px solid white;
        }
    @media screen {
      @media (max-width : 767px) { width: 100%; }
    }
        i{
          float: right;
          margin: 4px 10px 0 0;
          vertical-align: middle;
          position: relative;
          &:after{
            position: absolute;
            right: 20px;
            top: 0;
            width: 1px;
            height: 38px;
            border-left: 1px solid white;
          }
        }
  }
  select{ @extend input[type=text]; border-radius: 0; }
  .col1{ position: relative; float: left; width: 100%; margin-bottom: 15px; }
  .col2{ position: relative; float: left; width: 49%; margin-right: 2%; margin-bottom: 15px;
    &:nth-child(2n-4){ margin-right: 0; }
    @media screen {
      @media (max-width : 1024px) { width: 100%; margin-right: 0; }
    }
  }
  .captcha{ float: right;
    @media screen {
      @media (max-width : 767px) { float: left; width: 100%; }
    }
  }
  .captcha_img{ float: left; width: 124px; margin-right: 10px;
    @media screen {
      @media (max-width : 767px) { width: 100%; }
    }
    img{ width: 124px; height: 57px; border: 1px solid #ccc;
      @media screen {
        @media (max-width : 767px) { width: 100%; }
      }
    }
  }
  .captcha_input{ float: left; width: 136px; font-family: 'trebuchet_ms_regular'; font-size: 13px; color: #333333;
    @media screen {
      @media (max-width : 767px) { width: 100%; }
    }
    a{ color: #333333; text-decoration: underline; }
    input[type=text]{ margin-top: 9px; background: white; }
  }
}
