<section ng-controller="formController">
  <div class="title">
    <h2>Formulário de Cliente</h2>
  </div>
  <div class="message">
    <div class="alert alert-success fade hidden" role="alert">
      Cliente salvo
    </div>
    <div class="alert alert-danger alert-dismissible fade hidden" role="alert">
      <strong>Holy guacamole!</strong> You should check in on some of those fields below.
    </div>
  </div>
  <form action="" method="post" name="clientForm" accept-charset="utf-8" ng-init="edit()" ng-submit="save_client(clientForm)" novalidate>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group floating-label" ng-class="{ 'has-error' : clientForm.name.$invalid && !clientForm.name.$pristine }">
          <input type="name" class="form-control" ng-model="client.nome" name="name" id="name" spellcheck="false" autocomplete="off" required>
          <label for="name">Nome*</label>
          <p ng-show="clientForm.name.$invalid && !clientForm.name.$pristine" class="help-block">Nome é obrigatório.</p>
        </div>
        <div class="form-group floating-label" ng-class="{ 'has-error' : clientForm.email.$invalid && !clientForm.email.$pristine }">
          <input type="email" class="form-control" ng-model="client.email" name="email" id="email" spellcheck="false" autocomplete="off" required>
          <label for="email">E-mail*</label>
          <p ng-show="clientForm.email.$invalid && !clientForm.email.$pristine" class="help-block">E-mail inválido.</p>
        </div>
        <div class="form-group floating-label" ng-class="{ 'has-error' : clientForm.tel.$invalid && !clientForm.tel.$pristine }">
          <input type="name" class="form-control" ng-model="client.telefone" maxlength="15" name="tel" id="tel" spellcheck="false" autocomplete="off" required phone-input>
          <label for="tel">Telefone*</label>
          <p ng-show="clientForm.tel.$invalid && !clientForm.tel.$pristine || (clientForm.tel.$error.minlength || clientForm.tel.$error.maxlength)" class="help-block">Telefone é obrigatório.</p>
        </div>
        <div class="form-group floating-label" ng-class="{ 'has-error' : clientForm.address.$invalid && !clientForm.address.$pristine }">
          <input type="name" class="form-control" ng-model="client.endereco" name="address" id="address" spellcheck="false" autocomplete="off" required>
          <label for="address">Endereço*</label>
          <p ng-show="clientForm.address.$invalid && !clientForm.address.$pristine" class="help-block">Endereço é obrigatório.</p>
        </div>
        <div class="form-group floating-label" ng-class="{ 'has-error' : clientForm.district.$invalid && !clientForm.district.$pristine }">
          <input type="name" class="form-control" ng-model="client.bairro" name="district" id="district" spellcheck="false" autocomplete="off" required>
          <label for="district">Bairro*</label>
          <p ng-show="clientForm.district.$invalid && !clientForm.district.$pristine" class="help-block">Bairro é obrigatório.</p>
        </div>
        <div class="form-group floating-label" ng-class="{ 'has-error' : clientForm.city.$invalid && !clientForm.city.$pristine }">
          <input type="name" class="form-control" ng-model="client.cidade" name="city" id="city" spellcheck="false" autocomplete="off" required>
          <label for="city">Cidade*</label>
          <p ng-show="clientForm.city.$invalid && !clientForm.city.$pristine" class="help-block">Cidade é obrigatório.</p>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : clientForm.state.$invalid && !clientForm.state.$pristine }">
          <select class="form-control" ng-model="client.estado" name="state" id="state" spellcheck="false" autocomplete="off" required>
            <option value="">Selecione um estado</option>
            <option value="AC">Acre</option>
            <option value="AL">Alagoas</option>
            <option value="AP">Amapá</option>
            <option value="AM">Amazonas</option>
            <option value="BA">Bahia</option>
            <option value="CE">Ceará</option>
            <option value="DF">Distrito Federal</option>
            <option value="ES">Espírito Santo</option>
            <option value="GO">Goiás</option>
            <option value="MA">Maranhão</option>
            <option value="MT">Mato Grosso</option>
            <option value="MS">Mato Grosso do Sul</option>
            <option value="MG">Minas Gerais</option>
            <option value="PA">Pará</option>
            <option value="PB">Paraíba</option>
            <option value="PR">Paraná</option>
            <option value="PE">Pernambuco</option>
            <option value="PI">Piauí</option>
            <option value="RJ">Rio de Janeiro</option>
            <option value="RN">Rio Grande do Norte</option>
            <option value="RS">Rio Grande do Sul</option>
            <option value="RO">Rondônia </option>
            <option value="RR">Roraima</option>
            <option value="SC">Santa Catarina </option>
            <option value="SP">São Paulo</option>
            <option value="SE">Sergipe</option>
            <option value="TO">Tocantins</option>
          </select>
          <label for="state">Estado*</label>
          <p ng-show="clientForm.state.$invalid && !clientForm.state.$pristine" class="help-block">Estado é obrigatório.</p>
        </div>
        <div class="buttons">
          <a href="./" class="btn btn-default" title="Voltar">Voltar</a>
          <button type="submit" class="btn btn-primary" ng-disabled="clientForm.$invalid">Salvar cliente</button>
        </div>
      </div>
    </div>
  </form>
</section>
