<section ng-controller="homeController">
  <div class="title">
    <h2>Lista de clientes</h2>
    <a href="cadastrar" class="btn btn-primary" title="Cadastrar novo cliente">Cadastrar novo cliente</a>
  </div>
  <div class="table-responsive" ng-init="loadAll()">
    <table class="table table-striped" ng-hide="showLoaderFlag">
      <thead>
        <tr>
          <th width="25" ng-click="order_by('id')">
            ID
            <a ng-show="currentSort.exp == 'id' && currentSort.reverse">v</a>
            <a ng-show="currentSort.exp == 'id' && !currentSort.reverse">^</a>
          </th>
          <th width="130" ng-click="order_by('nome')">
            Nome
            <a ng-show="currentSort.exp == 'nome' && currentSort.reverse">v</a>
            <a ng-show="currentSort.exp == 'nome' && !currentSort.reverse">^</a>
          </th>
          <th width="130" ng-click="order_by('email')">
            E-mail
            <a ng-show="currentSort.exp == 'email' && currentSort.reverse">v</a>
            <a ng-show="currentSort.exp == 'email' && !currentSort.reverse">^</a>
          </th>
          <th width="100" ng-click="order_by('endereco')">
            Endereço
            <a ng-show="currentSort.exp == 'endereco' && currentSort.reverse">v</a>
            <a ng-show="currentSort.exp == 'endereco' && !currentSort.reverse">^</a>
          </th>
          <th width="100" ng-click="order_by('bairro')">
            Bairro
            <a ng-show="currentSort.exp == 'bairro' && currentSort.reverse">v</a>
            <a ng-show="currentSort.exp == 'bairro' && !currentSort.reverse">^</a>
          </th>
          <th width="100" ng-click="order_by('cidade')">
            Cidade
            <a ng-show="currentSort.exp == 'cidade' && currentSort.reverse">v</a>
            <a ng-show="currentSort.exp == 'cidade' && !currentSort.reverse">^</a>
          </th>
          <th width="30" ng-click="order_by('estado')">
            Estado
            <a ng-show="currentSort.exp == 'estado' && currentSort.reverse">v</a>
            <a ng-show="currentSort.exp == 'estado' && !currentSort.reverse">^</a>
          </th>
          <th width="120" ng-click="order_by('telefone')">
            Telefone
            <a ng-show="currentSort.exp == 'telefone' && currentSort.reverse">v</a>
            <a ng-show="currentSort.exp == 'telefone' && !currentSort.reverse">^</a>
          </th>
          <th width="70"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="client in data | orderBy:currentSort.exp: currentSort.reverse">
          <td>{{client.id}}</td>
          <td>{{client.nome}}</td>
          <td>{{client.email}}</td>
          <td>{{client.endereco}}</td>
          <td>{{client.bairro}}</td>
          <td>{{client.cidade}}</td>
          <td>{{client.estado}}</td>
          <td>{{client.telefone | tel}}</td>
          <td>
            <a href="editar/{{client.id}}" title=""><i class="fa fa-pencil" aria-hidden="true"></i></a>
            <a href="#" confirm="Are you sure ?" ng-click="delete(client)"><i class="fa fa-trash" aria-hidden="true"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
<div class="modal bs-example-modal-sm in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-confirm-box=""></div>
