@import "utils/bootstrap.css";
@import "utils/fonts";
@import "utils/font-awesome";

$red: #a94442;
$blue: #3365a9;

*{
  margin: 0;
  border: none;
  padding: 0;
  outline: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  font-weight: normal !important;
}

html, body{ width: 100%; height: 100%; min-height: 100%; }
body{ font-family: "robotoregular"; overflow: hidden; overflow-y: auto; font-size: 12px; }
.center{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.row{
  display: flex;
  flex-flow: row wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

.header{
  @extend .row;
  margin: 20px 0;
  @media only screen {
    @media (max-width: 570px){ flex-flow: column; }
  }
  .logo{
    img{
      @media only screen {
        @media (max-width: 570px){ width: 90%; margin-bottom: 20px; }
      }
    }
  }
  h1{
    color: $blue;
    margin: 38px 20px 0;
    @media only screen {
      @media (max-width: 1200px){ order: 3; text-align: center; width: 100%; font-size: 28px; }
    }
  }
  .sign{
    margin-left: auto;
    text-align: right;
    @media only screen {
      @media (max-width: 1200px){ order: 2; }
      @media (max-width: 570px){ text-align: center; margin-left: inherit; }
    }
    .user{
      @extend .row;
      i{
        display: inline-block;
        font-size: 30px;
        margin-right: 20px;
      }
    }
    .logout{ text-align: right; }
  }
}
.title{
  @extend .row;
  margin-bottom: 20px;
  @media only screen {
    @media (max-width: 570px){ flex-flow: column; }
  }
  h2{ margin: 0;
    @media only screen {
      @media (max-width: 1200px){ font-size: 20px; }
    }
  }
  a{ margin-left: auto;
    @media only screen {
      @media (max-width: 570px){ margin-left: inherit; margin-top: 20px; }
    }
  }
}

table{
  th{
    font-family: "RobotoBold";
    font-size: 13px;
  }
  td{
    font-size: 12px;
    a{
      font-size: 14px;
      margin-right: 10px;
    }
  }
}
form{ margin-top: 20px;
  .col-md-6{
    @media only screen {
      @media (max-width: 990px){ width: 100%; }
    }
  }
  .form-group{
    position: relative;
    label{
      position: absolute;
      font-size: 11px;
      line-height: 1.42857143;
      color: #555;
      display: block;
      left: 0;
      top: -10px;
      transition: all .3s;
      color: $blue;
    }
    .form-control{
      border: none;
      border-bottom: 1px solid #ccc;
      border-radius: 0;
      box-shadow: none;
      padding: 6px 0;
    }
    &.has-error{
      label{
        color: $red;
      }
      .form-control{
        border-color: #843534;
        &.ng-invalid{
          &+label{ color: $red; }
        }
        &:focus{
          box-shadow: none!important;
        }
      }
      .error{
        color: $red;
      }
    }
  }
  .floating-label{
    label{
      top: 7px;
      font-size: 14px;
      color: #555;
    }
    .form-control{
      &.ng-dirty{
        &+label{
          top: -10px;
          font-size: 11px;
          color: $blue;
        }
      }
      &.ng-valid{ @extend .ng-dirty; }
      &:focus{ @extend .ng-dirty; }
    }
  }
  .buttons{
    @extend .row;
    .btn{
      @media only screen {
        @media (max-width: 570px){ width: 100%; margin-bottom: 10px; }
      }
    }
    button{ margin-left: auto; }
  }
}
.modal{
  background: rgba(0,0,0,.8);
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
  .modal-center{
    position: relative;
    width: 100%;
    height: 100%;
    @extend .center;
  }
  &.in{
    opacity: 1;
  }
  .modal-dialog{ margin: 0; }
}
.loader{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,.6);
  @extend .center;
  z-index: 1;
}